@import "tailwindcss";

.inner-shadow {
  box-shadow: 0px -3px 0px 0.5px rgba(0, 0, 0, 0.15) inset;
}

.ju367vei {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}